<section class="fdb-block fp-active section-features" id="section-features-1" style="background-image: url(<%= image_path 'bg_1.svg' %>)" data-block-type="features" data-id="4" draggable="true">
  <div class="container">
    <div class="row text-center justify-content-center mt-5">

      <div class="col-10 offset-xs-1 col-sm-6 offset-sm-0 col-lg-3 pt-4 pt-lg-0">
        <%= cl_image_tag 'about', class: 'fdb-icon' %>
        <h3><span>Sobre nós</span></h3>
        <p>No Boost temos como missão levar os melhores explicadores a tua casa!</p>
      </div>
      <div class="col-10 offset-xs-1 col-sm-6 col-lg-3">
        <%= cl_image_tag 'area', class: 'fdb-icon' %>
        <h3><span>Áreas</span></h3>
        <p>Acompanhamos os nossos alunos desde a primária até à faculdade</p>
      </div>

      <div class="col-10 offset-xs-1 col-sm-6 offset-sm-0 col-lg-3 pt-4 pt-lg-0">
        <%= cl_image_tag 'precos_modalidades', class: 'fdb-icon' %>
        <h3><span>Preços e Modalidades</span></h3>
        <p>Os nossos boosts são adaptados a cada aluno</p>
      </div>

      <div class="col-10 offset-xs-1 col-sm-6 offset-sm-0 col-lg-3 pt-4 pt-sm-0">
        <%= cl_image_tag 'equipa', class: 'fdb-icon' %>
        <h3><span>Equipa</span></h3>
        <p>O que nos diferencia? Temos todos entre 18 e 29 anos!</p>
      </div>

    </div>
  </div>
</section>
