<div style="background-image: url('assets/grey_background.png');">
  <div class="container">
    <div class="row">
      <p class="text-center" style="margin-right: auto; margin-left: auto; margin-top: 40px">
        <strong class="team-title">já conheces a nossa equipa de boosters?</strong>
      </p>
    </div>
    <hr style="margin-top: 40px; background-color: #F37F34; border: 5px solid #F37F34 ">
    <div class="row">


      <div class="card" style="width: 100%; height:180%; margin-right: auto; margin-left: auto;">
        <%= cl_image_tag "joana_sousa_mendes", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
        <div class="teacher-description text-center">
         Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)
       </div>
       <!-- port tudo; historia tudo; literatura secundario; filosofio tudo-->
     </div>
   </div>



   <div class="row" style="margin-bottom: 50px;">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "manuel_folhadela", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Manuel Folhadela | 22</strong></div>
        <div class="teacher-description text-center">
          <p>Licenciado em História na Faculdade de Letras da Universidade do Porto. <br>
            Mestrado em Ensino de História no 3 ciclo do ensino básico e no ensino secundário na Faculdade de Ciências Sociais e Humanas da Universidade Nova em Lisboa. <br>
            Áreas: História e Português
          </p>

        </div>
      </div>
      <!-- hist tudo; -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "francisca_cunha_reis", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Francisca Cunha Reis | 19</strong></div>
        <div class="teacher-description text-center">A licenciar-se em Ciência Política e Relações Internacionais pela Universidade Nova de Lisboa-FCSH <br> Áreas: Alemão, Português, Inglês, Filosofia
        </div>
      </div>
      <!-- port alemao ingles filos tudo -->
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "ricardo_martinez", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Ricardo Martinez | 22</strong></div>
        <div class="teacher-description text-center">No mestrado em Engenharia e Gestão Industrial no Instituto Superior Técnico da Universidade de Lisboa <br> Áreas: Matemática, Física e Química e Geometria Descritiva
        </div>
      </div>
      <!-- mat tudo; GD tudo; FQ basico e secundario; estudo do meio -->
    </div>
  </div>

  <div class="row" style="margin-bottom: 50px;">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "maria_ana_duarte", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Maria Ana Duarte | 21</strong></div>
        <div class="teacher-description text-center">Licenciada em Economia pela Nova School of Business and Economics da Universidade Nova de Lisboa <br> Áreas: Matemática e Economia
        </div>
      </div>
      <!-- mat tudo; eco secundario -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "tomas_castelo_branco", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Tomás Castelo Branco | 20</strong></div>
        <div class="teacher-description text-center">Atualmente a tirar licenciatura em Engenharia Informática na Faculdade de Ciências da Universidade de Lisboa <br> Ensino Secundário- Salesianos de Lisboa
        </div>
      </div>
      <!-- mat tudo; -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "rita_mascarenhas_lemos", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Rita Mascarenhas de Lemos | 18</strong></div>
        <div class="teacher-description text-center">Aluna de Direito na Faculdade de Direito da Universidade de Lisboa <br> Áreas: Filosofia, História e Inglês
        </div>
      </div>
    </div>
    <!-- hist tudo; filos tudo; ingles tudo -->
  </div>
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "sebastiao_veloso", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Sebastião Veloso | 24</strong></div>
        <div class="teacher-description text-center">Licenciado em Línguas, Literaturas e Culturas pela Faculdade de Letras da Universidade de Lisboa <br> Áreas: História, Inglês, Literatura, MACS
        </div>
      </div>
      <!-- literatura secundario; hist tudo; ingles tudo; MACS tudo -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "pedro_barahona", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Pedro Barahona | 21</strong></div>
        <div class="teacher-description text-center">Estudante do Mestrado Integrado em Engenharia Física Tecnológica do Instituto Superior Técnico da Universidade de Lisboa <br> Disciplinas: Física e Química A, Matemática A Latim A e Inglês (Secundário); Português, Matemática, Latim, Físico-Química e Inglês (Básico).
        </div>
      </div>
      <!-- mat e FQ e latim e ingles tudo; port primario e basico-->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "maria_carmo_vitorino", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Maria do Carmo Vitorino | 22</strong></div>
        <div class="teacher-description text-center">Licenciada em Gestão pela Universidade Nova de Lisboa
        </div>
      </div>
      <!-- mat primario e basico; eco secundario; geo basico e secundario -->
    </div>
  </div>
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "joao_sousa_mendes", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>João Sousa Mendes | 21</strong></div>
        <div class="teacher-description text-center">Licenciado em Economia pela Nova School of Business and Economics <br> Áreas: Matemática A e Economia A (Ensino Secundário); Matemática (Ensino Básico)
        </div>
      </div>
      <!-- mat tudo; eco secundario -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "catarina_barbosa", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Catarina Barbosa | 21</strong></div>
        <div class="teacher-description text-center">Está no 4º ano da Licenciatura em Direito pela Faculdade de Direito da Universidade Católica Portuguesa <br> Áreas: Matemática e História
        </div>
      </div>
      <!-- mat e hist ate basico -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "teresa_sande_lemos", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Teresa Sande Lemos | 21</strong></div>
        <div class="teacher-description text-center">Licenciatura de Direito, pela faculdade de Lisboa católica portuguesa <br> Áreas: biologia do secundário, inglês do secundário, e matemática do liceu.
        </div>
      </div>
      <!-- biologia tudo-> estudo do meio e ciencias; mat primario e basico; ingles tudo -->
    </div>
  </div>
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "pedro_megre", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Pedro Megre | 21</strong></div>
        <div class="teacher-description text-center">Licenciado em Economia pela Nova School of Business and Economics <br> Áreas: Matemática A e Economia A (Ensino Secundário); Matemática (Ensino Básico)
        </div>
      </div>
      <!-- mat tudo; eco secundario; hist basico -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "joaquim_luiz_gomes", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Joaquim Luiz Gomes | 21</strong></div>
        <div class="teacher-description text-center">Está no 4º ano da Licenciatura em Direito pela Faculdade de Direito da Universidade Católica Portuguesa <br> Áreas: Matemática e História
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height: 80%;">
        <%= cl_image_tag "ines_fialho", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Inês Fialho | 21</strong></div>
        <div class="teacher-description text-center">Licenciatura de Direito, pela faculdade de Lisboa católica portuguesa <br> Áreas: biologia do secundário, inglês do secundário, e matemática do liceu.
        </div>
      </div>
      <!-- mat e FQ tudo -->
    </div>
  </div>
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "francisca_xara_brasil", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Francisca Xara-Brasil | 21</strong></div>
        <div class="teacher-description text-center">Licenciado em Economia pela Nova School of Business and Economics <br> Áreas: Matemática A e Economia A (Ensino Secundário); Matemática (Ensino Básico)
        </div>
      </div>
      <!-- mat FQ biologia/estudo do meio/ciencias tudo;  -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 100%; height:80%;">
        <%= cl_image_tag "carolina_baltasar", class:"avatar-team" %>
        <div class="nome-teacher text-center"><strong>Carolina Baltasar | 22</strong></div>
        <div class="teacher-description text-center">5º Ano do Mestrado Integrado em Medicina na Faculdade de Ciências Médicas da Universidade Nova de Lisboa <br> Áreas: Biologia
        </div>
      </div>
    </div>
  </div>

</div>
</div>
