<!DOCTYPE html>
<html>
  <head>

    <link rel="icon" type="image/png" href="assets/favicon_up.png"/>
    <meta charset="UTF-8">
    <meta lang="pt">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="revisit-after" content="1 days">
    <meta name="google-site-verification" content="gDZGh1IgU_ysM6W6JogQFp6aRPeS-ghgnieiy8sifMk" />
    <title>Boost your study</title>

    <meta name="Description" content="No Boost your study somos uma equipa de explicadores que se destacaram nas suas áreas de estudo. O que nos diferencia? Temos todos entre 18 e 29 anos! No Boost acreditamos que, ao encurtar a distância de idades entre os alunos e os explicadores, garantimos uma relação de maior proximidade, que desafia os nossos alunos a descobrirem o seu potencial.">
    <meta name="Keywords" content="explicação, explicadores, explicações, explicador, boost your study,">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-design-blocks/1.0.2/css/froala_blocks.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="canonical" href="www.boostyourstudy.pt/" />
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div id="content">
      <%= yield %>
    </div>
    <%= render 'shared/footer'%>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
